body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  margin: auto;
  
}

.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  z-index: 100;
  border: none;
  outline: none;
  transition: 0.4s;
  position:absolute;
  top:0;
  right:0;
  width: 20px;
  height: 20px;
}


.active, .accordion:hover {
  background-color: #ccc;
}

.panel {
  padding: 0 18px;
  margin: 0;
  background-color: white;
  display: none;
  overflow: hidden;

  
  top:0;
  background-color: rgb(187, 183, 183);
  width: 100%;
}

#listBtn {
  margin: 10px;
}

.add-btn button{
  display: flex;
}
